hr {
  width: 100%;
  border-top: 1px solid;
}

hr.light {
  border-top-color: var(--colour-grey-light);
}

hr.medium {
  border-top-color: var(--colour-grey);
}

hr.dark {
  border-top-color: var(--colour-grey-dark);
}

hr.primary {
  border-top-color: var(--colour-primary-light-1);
}

hr.secondary {
  border-top-color: var(--colour-secondary-light-1);
}
